<section class="_layout _layout--invoice">
    <header class="_info-header">
      <section class="_info-block">
        <section class="_company-info">
          <h3>Example Company</h3>
          <p>
            Adresa i broj:<span><b>&nbsp;Example 74.</b></span>
          </p>
          <p>
            Grad i Poš.br.:<span><b>&nbsp;Example, 21000</b></span>
          </p>
          <p>
            PIB:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Matični broj:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Tekući Račun:<span><b>&nbsp;123456789</b></span>
          </p>
        </section>
        <section class="_company-info">
          <h3>Example Company</h3>
          <p>
            Adresa i broj:br<span><b>&nbsp;Example 74.</b></span>
          </p>
          <p>
            Grad i Poš.br.:<span><b>&nbsp;Example, 21000</b></span>
          </p>
          <p>
            PIB:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Matični broj:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Tekući Račun:<span><b>&nbsp;123456789</b></span>
          </p>
        </section>
      </section>
      <section class="_option-block">
        <div class="_option _option--invoice">
          <p class="_option__tittle">Create New Invoice</p>
          <button class="_btn _btn--fill" aria-label="create invoice">
            Create New
          </button>
        </div>
        <div class="_option _option--invoice">
          <p class="_option__tittle">Print Invoice</p>
          <button class="_btn _btn--fill" aria-label="create invoice">
            Print
          </button>
        </div>
      </section>
    </header>
    <section class="_date-info">
      <p>
        Datum prometa dobara: <br />
        <b>&nbsp;02.05.2021.</b>
      </p>
      <p>
        Datum izdavanja računa: <br />
        <b>&nbsp;02.05.2021.</b>
      </p>
      <p>
        Mesto izdavanja računa: <br />
        <b>&nbsp;Example</b>
      </p>
      <p>
        Datum valute: <br />
        <b>&nbsp;02.05.2021.</b>
      </p>
    </section>
    <main>
      <section class="_table-area">
        <table class="_table">
          <thead class="_table__thead">
            <tr>
              <th class="_table_th _table__th--l">Opis proizvoda</th>
              <th class="_table_th _table__th--s">JM</th>
              <th class="_table_th _table__th--m">cena po JM bez PDV (RSD)</th>
              <th class="_table_th _table__th--s">rabat (%)</th>
              <th class="_table_th _table__th--m">cena po JM uz rabat</th>
              <th class="_table_th _table__th--m">količina (kom)</th>
              <th class="_table_th _table__th--m">cena (RSD)</th>
              <th class="_table_th _table__th--m">PDV 20%</th>
              <th class="_table_th _table__th--m">Iznos sa PDV-om (RSD)</th>
              <th class="_table_th _table__th--s"></th>
            </tr>
          </thead>
          <tbody class="_table__tbody">
            <tr class="_table__tr">
              <td class="_table__td">Example product</td>
              <td class="_table__td">50 ml</td>
              <td class="_table__td">800</td>
              <td class="_table__td">30</td>
              <td class="_table__td">600</td>
              <td class="_table__td">450</td>
              <td class="_table__td">6,500.00</td>
              <td class="_table__td">852</td>
              <td class="_table__td">7,352.00</td>
              <td class="_table__td">
                <span class="material-icons red">highlight_off</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="_option _option--center">
        <button class="_btn _btn--fill" (click)="openModal()">Add product</button>
      </section>
      <section class="_total-info">
        <p>
          Osnovica: <br />
          <b>&nbsp;152,000.00</b>
        </p>
        <p>
          PDV: <br />
          <b>&nbsp;10,254.25</b>
        </p>
        <p>
          Ukupno sa PDV: <br />
          <b>&nbsp;162,300.00</b>
        </p>
      </section>
    </main>
  
    <!-- Modal -->
    <section class="_modal" *ngIf="isShown" (click)="clickedOutside($event)">
      <div class="_modal__inquiry _modal__inquiry--s">
        <div class="_modal__form">
          <form action="">
            <fieldset class="_f _f--modal">
              <label for="product" class="_f__label">Product Name:</label>
              <input type="text" name="product" id="product" class="_f__input" />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="product" class="_f__label">Piece / Pieces:</label>
              <input
                type="number"
                id="number"
                name="number"
                class="_f__input"
                aria-label="type invoice number"
              />
            </fieldset>
          </form>
          <div class="_btnContainer _btnContainer--modal">
            <button class="_btn _btn--fill">Add</button>
            <button class="_btn _btn--empty" (click)="cancelModal()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
  