<div class="container">
    <div class="tittle-section">
      <div class="tittle tittle--fullWidth">Search products</div>
    </div>
    <div class="first-section">
      <form>
        <div class="search-section">
          <div class="search-block">
            <label for="name" class="label label--standard">Product Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              class="input input--standard"
            />
          </div>
          <div class="search-block">
            <label for="date" class="label label--standard">Date:</label>
            <input
              type="month"
              id="date"
              name="date"
              min="2021-01"
              class="input input--standard--date"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="salesTable-section">
      <table class="table table--standard">
        <thead class="table-header">
          <tr>
            <th class="th-name">Product Name</th>
            <th class="th-date">Date</th>
            <th class="th-no">Produced</th>
            <th class="th-no">Sold</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="row row--grey">
            <th>Example product</th>
            <th>June 2021</th>
            <th>3540</th>
            <th>1528</th>
          </tr>
          <tr class="row row--white">
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
          </tr>
          <tr class="row row--grey">
            <th>#</th>
            <th>#</th>
            <th>#</th>
            <th>#</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
