<section class="_layout">
    <header class="_search-header">
      <section class="_main-bar _main-bar--full-width">
        <p class="_main-bar__tittle">Search Products</p>
        <form action="" class="_main-bar__search-section">
          <fieldset class="_f _f--l">
            <label for="name" class="_f__label">Product Name:</label>
            <input type="text" name="name" id="name" class="_f__input" />
          </fieldset>
          <fieldset class="_f _f--m">
            <label for="date" class="_f__label">Date:</label>
            <input
              type="month"
              id="date"
              name="date"
              min="2021-01"
              class="_f__input"
            />
          </fieldset>
        </form>
      </section>
    </header>
    <main>
      <section class="_table-area">
        <table class="_table">
          <thead class="_table__thead">
            <tr>
              <th class="_table_th _table__th--l">Product Name</th>
              <th class="_table_th _table__th--m">Date</th>
              <th class="_table_th _table__th--s">Produced</th>
              <th class="_table_th _table__th--s">Sold</th>
            </tr>
          </thead>
          <tbody class="_table__tbody">
            <tr class="_table__tr" *ngFor="let product of products$ | async">
              <td class="_table__td">{{product.productName}}</td>
              <td class="_table__td">{{product.date | date: 'MMM d, y'}}</td>
              <td class="_table__td">{{product.produced}}</td>
              <td class="_table__td">{{product.sold}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </section>
  