<section class="_modal _modal--columns" (click)="clickedOutside($event)">
    <div class="_modal__inquiry">
      <div class="_modal__form">
        <form action="" class="_form">
          <section class="_modal__column">
            <fieldset class="_f _f--modal">
              <label for="product" class="_f__label">Product Name:</label>
              <input
                type="text"
                name="product"
                id="product"
                class="_f__input"
              />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="measure" class="_f__label">Unit Of Measure:</label>
              <input
                type="text"
                name="measure"
                id="measure"
                class="_f__input"
              />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="price" class="_f__label">Price:</label>
              <input type="text" name="price" id="price" class="_f__input" />
            </fieldset>
          </section>
          <section class="_modal__column">
            <fieldset class="_f _f--modal">
              <label for="packaging" class="_f__label">Packaging:</label>
              <input
                type="text"
                name="packaging"
                id="packaging"
                class="_f__input"
              />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="cover" class="_f__label">Cover:</label>
              <input type="text" name="cover" id="cover" class="_f__input" />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="label" class="_f__label">Label:</label>
              <input type="text" name="label" id="label" class="_f__input" />
            </fieldset>
          </section>
          <section class="_modal__column">
            <fieldset class="_f _f--modal">
              <label for="box" class="_f__label">Box:</label>
              <input type="text" name="box" id="box" class="_f__input" />
            </fieldset>
            <fieldset class="_f _f--modal">
              <label for="other" class="_f__label">Other:</label>
              <input type="text" name="other" id="other" class="_f__input" />
            </fieldset>
          </section>
        </form>
        <div class="_btnContainer _btnContainer--modal">
          <button class="_btn _btn--fill">Save</button>
          <button class="_btn _btn--empty" (click)="cancelModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
