<div class="_navigation-container">
  <div class="_navigation-content">
    <div class="_logo">
      <h3>LOGO</h3>
    </div>
    <div class="_pages">
      <a class="_page-link" routerLink="login" routerLinkActive="active">Login Page</a>
      <a class="_page-link" routerLink="invoices" routerLinkActive="active">Invoices</a>
      <a class="_page-link" routerLink="invoice" routerLinkActive="active">Invoice</a>
      <a class="_page-link" routerLink="stock" routerLinkActive="active">Stock</a>
      <a class="_page-link" routerLink="packaging" routerLinkActive="active">Packaging</a>
      <a class="_page-link" routerLink="sales" routerLinkActive="active">Sales</a>
      <a class="_page-link" routerLink="companies" routerLinkActive="active">Companies</a>
    </div>
  </div>
</div>
