<section class="_layout">
    <main>
      <form action="">
        <fieldset class="_f _f--login">
          <label for="username" class="_f__label">Username:</label>
          <input
            type="text"
            id="username"
            name="username"
            class="_f__input"
          />
        </fieldset>
        <fieldset class="_f _f--login">
          <label for="pass" class="_f__label">Password:</label>
          <div class="input-password">
            <input
              type="password"
              id="pass"
              name="password"
              class="_f__input"
              [type]="hide ? 'password' : 'text'"
            />
            <span class="material-icons eye" (click)="hide = !hide">{{
              hide ? "visibility_off" : "visibility"
            }}</span>
          </div>
        </fieldset>
      </form>
      <div class="_btnContainer _btnContainer--login">
        <button class="_btn _btn--fill">Login</button>
        <button class="_btn _btn--register">Register</button>
      </div>
    </main>
  </section>
  