<div class="container">
  <div class="tittle-section">
    <div class="tittle tittle--left">Search invoices</div>
    <div class="tittle tittle--right">Create a new invoice</div>
  </div>
  <div class="first-section">
    <form>
      <div class="search-section">
        <div class="search-block">
          <label for="name" class="label label--standard ">Company Name:</label>
          <input
            type="text"
            name="name"
            id="name"
            class="input input--standard"
          />
        </div>
        <div class="search-block">
          <label for="date" class="label label--standard ">Date:</label>
          <input
            type="month"
            id="date"
            name="date"
            min="2021-01"
            class="input input--standard--date"
          />
        </div>
        <div class="search-block">
          <label for="number" class="label label--standard ">Invoice No.:</label>
          <input
            type="number"
            id="number"
            name="number"
            class="input input--standard--number"
          />
        </div>
      </div>
    </form>
    <div class="buttonStandard-section">
      <button class="button button--fill">Create Invoice</button>
    </div>
  </div>
  <div class="table-section">
    <table class="table table--standard">
      <thead class="table-header">
        <tr>
          <th class="th-name">Company Name</th>
          <th class="th-date">Date</th>
          <th class="th-no">Invoice No.</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="row row--grey">
          <th>Example company</th>
          <th>10.08.2021.</th>
          <th>354</th>
        </tr>
        <tr class="row row--white">
          <th>#</th>
          <th>#</th>
          <th>#</th>
        </tr>
        <tr class="row row--grey">
          <th>#</th>
          <th>#</th>
          <th>#</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
