<section class="_layout">
  <header class="_search-header">
    <section class="_main-bar">
      <p class="_main-bar__tittle">Search Invoices</p>
      <form action="" class="_main-bar__search-section">
        <fieldset class="_f _f--l">
          <label for="name" class="_f__label">Company Name:</label>
          <ng-select [items]="cities"> </ng-select>
        </fieldset>
        <fieldset class="_f _f--m">
          <label for="date" class="_f__label">Date:</label>
          <input [owlDateTime]="dt2" placeholder="Date Time" />
          <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
          <owl-date-time #dt2></owl-date-time>
        </fieldset>
        <fieldset class="_f _f--s">
          <label for="number" class="_f__label">Invoice No.:</label>
          <input
            type="number"
            id="number"
            name="number"
            class="_f__input"
            aria-label="type invoice number"
          />
        </fieldset>
      </form>
    </section>
    <section class="_option">
      <p class="_option__tittle">Create New Invoice</p>
      <button
        class="_btn _btn--fill"
        aria-label="create invoice"
        (click)="openModal()"
      >
        Create Invoice
      </button>
    </section>
  </header>
  <main>
    <section class="_table-area">
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table_th _table__th--l">Company Name</th>
            <th class="_table_th _table__th--m">Date</th>
            <th class="_table_th _table__th--s">Invoice No.</th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr _table__tr--grey">
            <th class="_table__th">Example company</th>
            <th class="_table__th">10.08.2021.</th>
            <th class="_table__th">354</th>
          </tr>
          <tr class="_table__tr">
            <th class="_table__th">#</th>
            <th class="_table__th">#</th>
            <th class="_table__th">#</th>
          </tr>
          <tr class="_table__tr _table__tr--grey">
            <th class="_table__th">#</th>
            <th class="_table__th">#</th>
            <th class="_table__th">#</th>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  <!-- Modal -->
  <section class="_modal" *ngIf="isShown" (click)="clickedOutside($event)">
    <div class="_modal__inquiry _modal__inquiry--packaging" *ngIf="isShown1">
      <div class="_modal__form">
        <form action="">
          <fieldset class="_f _f--modal">
            <label for="product" class="_f__label">Client Name:</label>
            <input type="text" name="product" id="product" class="_f__input" />
          </fieldset>
          <fieldset class="_f _f--modal">
            <label for="date" class="_f__label">Date of Supply Of Goods:</label>
            <input
              type="date"
              id="date"
              name="date"
              min="2021-01"
              class="_f__input"
            />
          </fieldset>
          <fieldset class="_f _f--modal">
            <label for="date" class="_f__label">Invoice Date:</label>
            <input
              type="date"
              id="date"
              name="date"
              min="2021-01"
              class="_f__input"
            />
          </fieldset>
          <fieldset class="_f _f--modal">
            <label for="date" class="_f__label">Value Date:</label>
            <input
              type="date"
              id="date"
              name="date"
              min="2021-01"
              class="_f__input"
            />
          </fieldset>
        </form>
        <div class="_btnContainer _btnContainer--modal">
          <button class="_btn _btn--fill" (click)="cancelModal1()">Next</button>
          <button class="_btn _btn--register" (click)="cancelModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>

  <!----Modal2 proba-->
  <section class="_modal _modal--bg-white" *ngIf="isShown2">
    <section class="_layout">
      <section class="all">
        <section class="text-box">
          <h3>Example Company</h3>
          <p>
            Adresa i broj:<span><b>&nbsp;Example 74.</b></span>
          </p>
          <p>
            Grad i Poš.br.:<span><b>&nbsp;Example, 21000</b></span>
          </p>
          <p>
            PIB:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Matični broj:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Tekući Račun:<span><b>&nbsp;123456789</b></span>
          </p>
        </section>
        <section class="text-box">
          <h3>Example Company</h3>
          <p>
            Adresa i broj:br<span><b>&nbsp;Example 74.</b></span>
          </p>
          <p>
            Grad i Poš.br.:<span><b>&nbsp;Example, 21000</b></span>
          </p>
          <p>
            PIB:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Matični broj:<span><b>&nbsp;123456789</b></span>
          </p>
          <p>
            Tekući Račun:<span><b>&nbsp;123456789</b></span>
          </p>
        </section>
      </section>
      <section class="text-date">
        <p>
          Datum prometa dobara: <br />
          <b>&nbsp;02.05.2021.</b>
        </p>
        <p>
          Datum izdavanja računa: <br />
          <b>&nbsp;02.05.2021.</b>
        </p>
        <p>
          Mesto izdavanja računa: <br />
          <b>&nbsp;Example</b>
        </p>
        <p>
          Datum valute: <br />
          <b>&nbsp;02.05.2021.</b>
        </p>
      </section>
      <main>
        <section class="_table-area">
          <table class="_table">
            <thead class="_table__thead">
              <tr>
                <th class="_table_th _table__th--l">Opis proizvoda</th>
                <th class="_table_th _table__th--s">JM</th>
                <th class="_table_th _table__th--m">
                  cena po JM bez PDV (RSD)
                </th>
                <th class="_table_th _table__th--s">rabat (%)</th>
                <th class="_table_th _table__th--m">cena po JM uz rabat</th>
                <th class="_table_th _table__th--m">količina (kom)</th>
                <th class="_table_th _table__th--m">cena (RSD)</th>
                <th class="_table_th _table__th--m">PDV 20%</th>
                <th class="_table_th _table__th--m">Iznos sa PDV-om (RSD)</th>
                <th class="_table_th _table__th--s"></th>
              </tr>
            </thead>
            <tbody class="_table__tbody">
              <tr class="_table__tr _table__tr--grey">
                <th class="_table__th">Example product</th>
                <th class="_table__th">50 ml</th>
                <th class="_table__th">800</th>
                <th class="_table__th">30</th>
                <th class="_table__th">600</th>
                <th class="_table__th">450</th>
                <th class="_table__th">6,500.00</th>
                <th class="_table__th">852</th>
                <th class="_table__th">7,352.00</th>
                <th class="_table__th">
                  <span class="material-icons red">highlight_off</span>
                </th>
              </tr>
              <tr class="_table__tr">
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">
                  <span class="material-icons red">highlight_off</span>
                </th>
              </tr>
              <tr class="_table__tr _table__tr--grey">
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">#</th>
                <th class="_table__th">
                  <span class="material-icons red">highlight_off</span>
                </th>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="option">
          <button class="_btn _btn--fill" (click)="openModal1()">
            Add product
          </button>
        </section>
        <section class="total">
          <p>
            Osnovica: <br />
            <b>&nbsp;152,000.00</b>
          </p>
          <p>
            PDV: <br />
            <b>&nbsp;10,254.25</b>
          </p>
          <p>
            Ukupno sa PDV: <br />
            <b>&nbsp;162,300.00</b>
          </p>
        </section>
        <section class="option option--done">
          <button class="_btn _btn--fill">Done</button>
        </section>
      </main>
    </section>
  </section>
  <!-- Modal -->
  <section class="_modal" *ngIf="isShown3" (click)="clickedOutside($event)">
    <div class="_modal__inquiry _modal__inquiry--packaging">
      <div class="_modal__form">
        <form action="">
          <fieldset class="_f _f--modal">
            <label for="product" class="_f__label">Product Name:</label>
            <input type="text" name="product" id="product" class="_f__input" />
          </fieldset>
          <fieldset class="_f _f--modal">
            <label for="product" class="_f__label">Piece / Pieces:</label>
            <input
              type="number"
              id="number"
              name="number"
              class="_f__input"
              aria-label="type invoice number"
            />
          </fieldset>
        </form>
        <div class="_btnContainer _btnContainer--modal">
          <button class="_btn _btn--fill">Add</button>
          <button class="_btn _btn--register" (click)="cancelModal2()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
