<section class="container">
  <header class="_search-header">
    <p class="_tittle tittle--left">Search invoices</p>
    <p class="_tittle tittle--right">Create a new invoice</p>
  </header>
  <main>
    <section class="_main-bar">
      <form action="" class="_search-section">
        <fieldset class="_f">
          <label for="name" class="_f_label">Product Name:</label>
          <input type="text" name="name" id="name" class="_input input-main" />
        </fieldset>
      </form>
      <div class="_button-area">
        <button class="button button--fill">Add new</button>
      </div>
    </section>
    <section class="_table-area">
      <table class="_table">
        <thead class="_table_thead">
          <tr>
            <th class="_table_th table_th--name">Product Name</th>
            <th class="_table_th table_th--date">In Stock</th>
            <th class="_table_th table_th--no"></th>
          </tr>
        </thead>
        <tbody class="_table_tbody">
          <tr class="_table_tr table_tr--grey">
            <th class="_table_th">Example product</th>
            <th class="_table_th">3456</th>
            <th class="_table_th--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">remove_circle_outline</span>
              <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
          <tr class="_table_tr">
            <th class="_table_th">#</th>
            <th class="_table_th">#</th>
            <th class="_table_th--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">remove_circle_outline</span>
              <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
          <tr class="_table_tr table_tr--grey">
            <th class="_table_th">#</th>
            <th class="_table_th">#</th>
            <th class="_table_th--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">remove_circle_outline</span>
              <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</section>
