<div class="container">
    <div class="invTittle-section">
      <div class="invTittle invTittle--left">Search products</div>
      <div class="invTittle invTittle--right">Add new product</div>
    </div>
    <div class="invFirst-section">
      <form>
        <div class="invSearch-section">
          <div class="search-block">
            <label for="name" class="label label--invoices">Product Name:</label>
            <input
              type="text"
              name="name"
              id="name"
              class="input input--invoices"
            />
          </div>
        </div>
      </form>
      <div class="invButton-section">
        <button class="button button--fill">Add new</button>
      </div>
    </div>
    <div class="invTable-section">
      <table class="table table--invoices">
        <thead class="table-header">
          <tr>
            <th class="th-name">Product Name</th>
            <th class="th-date">In Stock</th>
            <th class="th-no"></th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr class="row row--grey">
            <th>Example product</th>
            <th>3456</th>
            <th class="th-edit">
                <span class="material-icons green">add_circle_outline</span>
                <span class="material-icons blue">remove_circle_outline</span>
                <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
          <tr class="row row--white">
            <th>#</th>
            <th>#</th>
            <th class="th-edit">
                <span class="material-icons green">add_circle_outline</span>
                <span class="material-icons blue">remove_circle_outline</span>
                <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
          <tr class="row row--grey">
            <th>#</th>
            <th>#</th>
            <th class="th-edit">
                <span class="material-icons green">add_circle_outline</span>
                <span class="material-icons blue">remove_circle_outline</span>
                <span class="material-icons red">highlight_off</span>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
