<section class="_layout">
  <header class="_search-header">
    <section class="_main-bar">
      <p class="_main-bar__tittle">Search {{ selectedList }}</p>
      <form action="" class="_main-bar__search-section">
        <fieldset class="_f _f--l">
          <label for="name" class="_f__label">
            <ng-container *ngIf="selectedList == 'Packaging'">Packaging</ng-container>
            <ng-container *ngIf="selectedList == 'Covers'">Cover</ng-container>
            <ng-container *ngIf="selectedList == 'Labels'">Label</ng-container>
            <ng-container *ngIf="selectedList == 'Boxes'">Box</ng-container>
            <ng-container *ngIf="selectedList == 'Other'">Other</ng-container>
            Name:</label>
          <input type="text" name="name" id="name" class="_f__input" />
        </fieldset>
      </form>
    </section>
    <section class="_option">
      <p class="_option__tittle">
        Add New
        <ng-container *ngIf="selectedList == 'Packaging'">Packaging</ng-container>
        <ng-container *ngIf="selectedList == 'Covers'">Cover</ng-container>
        <ng-container *ngIf="selectedList == 'Labels'">Label</ng-container>
        <ng-container *ngIf="selectedList == 'Boxes'">Box</ng-container>
        <ng-container *ngIf="selectedList == 'Other'">Other</ng-container>
      </p>
      <button class="_btn _btn--fill" (click)="openModal()">Add new</button>
    </section>
  </header>
  <main>
    <section class="_tabs-bar">
      <ul class="_tabs">
        <li class="_tabs__li" *ngFor="let menuList of menuLists">
          <a
            class="_tabs__a"
            (click)="openMenuList(menuList)"
            [ngClass]="{ active: selectedList === menuList }"
            >{{ menuList }}</a
          >
        </li>
      </ul>
    </section>
    <section
      class="_table-area _table-area--packaging"
      *ngIf="selectedList === 'Packaging'"
    >
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table__th _table__th--l">Product Name</th>
            <th class="_table__th _table__th--m">In Stock</th>
            <th class="_table__th _table__th--s"></th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr" *ngFor="let item of packaging$ | async">
            <td class="_table__td">{{ item.productName }}</td>
            <td class="_table__td">{{ item.counter }}</td>
            <td class="_table__td _table__td--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">edit_note</span>
              <span class="material-icons red">highlight_off</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section
      class="_table-area _table-area--packaging"
      *ngIf="selectedList === 'Covers'"
    >
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table__th _table__th--l">Product Name</th>
            <th class="_table__th _table__th--m">In Stock</th>
            <th class="_table__th _table__th--s"></th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr" *ngFor="let item of covers$ | async">
            <td class="_table__td">{{ item.productName }}</td>
            <td class="_table__td">{{ item.counter }}</td>
            <td class="_table__td _table__td--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">edit_note</span>
              <span class="material-icons red">highlight_off</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section
      class="_table-area _table-area--packaging"
      *ngIf="selectedList === 'Labels'"
    >
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table__th _table__th--l">Product Name</th>
            <th class="_table__th _table__th--m">In Stock</th>
            <th class="_table__th _table__th--s"></th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr" *ngFor="let item of labels$ | async">
            <td class="_table__td">{{ item.productName }}</td>
            <td class="_table__td">{{ item.counter }}</td>
            <td class="_table__td _table__td--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">edit_note</span>
              <span class="material-icons red">highlight_off</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section
      class="_table-area _table-area--packaging"
      *ngIf="selectedList === 'Boxes'"
    >
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table__th _table__th--l">Product Name</th>
            <th class="_table__th _table__th--m">In Stock</th>
            <th class="_table__th _table__th--s"></th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr" *ngFor="let item of boxes$ | async">
            <td class="_table__td">{{ item.productName }}</td>
            <td class="_table__td">{{ item.counter }}</td>
            <td class="_table__td _table__td--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">edit_note</span>
              <span class="material-icons red">highlight_off</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section
      class="_table-area _table-area--packaging"
      *ngIf="selectedList === 'Other'"
    >
      <table class="_table">
        <thead class="_table__thead">
          <tr>
            <th class="_table__th _table__th--l">Product Name</th>
            <th class="_table__th _table__th--m">In Stock</th>
            <th class="_table__th _table__th--s"></th>
          </tr>
        </thead>
        <tbody class="_table__tbody">
          <tr class="_table__tr" *ngFor="let item of other$ | async">
            <td class="_table__td">{{ item.productName }}</td>
            <td class="_table__td">{{ item.counter }}</td>
            <td class="_table__td _table__td--mi">
              <span class="material-icons green">add_circle_outline</span>
              <span class="material-icons blue">edit_note</span>
              <span class="material-icons red">highlight_off</span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</section>

<app-packaging-create *ngIf="isShown" (close)="cancelModal()" [podatakOdRoditelja]="9"></app-packaging-create>
