<section class="_layout">
    <header class="_search-header">
      <section class="_main-bar">
        <p class="_main-bar__tittle">Search Companies</p>
        <form action="" class="_main-bar__search-section">
          <fieldset class="_f _f--l">
            <label for="name" class="_f__label">Company Name:</label>
            <input type="text" name="name" id="name" class="_f__input" />
          </fieldset>
        </form>
      </section>
      <section class="_option">
        <p class="_option__tittle">Add New Company</p>
        <button class="_btn _btn--fill" (click)="openModal()">Add new</button>
      </section>
    </header>
    <main>
      <section class="_table-area">
        <table class="_table">
          <thead class="_table__thead">
            <tr>
              <th class="_table_th _table__th--l">Company Name</th>
              <th class="_table_th _table__th--l">Address</th>
              <th class="_table_th _table__th--l">City and Post Code</th>
              <th class="_table_th _table__th--m">PIB</th>
              <th class="_table_th _table__th--m">Company Number</th>
              <th class="_table_th _table__th--m">Bank Number</th>
              <th class="_table_th _table__th--s">Discount (%)</th>
              <th class="_table_th _table__th--m"></th>
            </tr>
          </thead>
          <tbody class="_table__tbody">
            <tr class="_table__tr" *ngFor="let company of companies$ | async">
              <td class="_table__td">{{company.companyName}}</td>
              <td class="_table__td">{{company.address}}</td>
              <td class="_table__td">{{company.city}}, {{company.postCode}}</td>
              <td class="_table__td">{{company.pib}}</td>
              <td class="_table__td">{{company.companyNo}}</td>
              <td class="_table__td">{{company.bankNo}}</td>
              <td class="_table__td">{{company.discount}}</td>
              <td class="_table__td _table__td--mi">
                <span class="material-icons blue">edit_note</span>
                <span class="material-icons red">highlight_off</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </section>

  <app-company-create *ngIf="isShown" (close)="cancelModal()" [podatakOdRoditelja]="9"></app-company-create>
  