$font-primary: "Segoe UI", sans-serif;

$color-primary: #038aff;
$color-text-bold: #333;
$color-text-normal: #111;

$color-hover-primary: #2c82c9;
$color-hover-secondary: #ececec;
$color-footer: #eeeeee;

$color-navbar: #333;
$color-hover-navbar: #ddd;

$color-row-table: #eeeeee;
$color-hover-table: #e8ecf1;

$color-header-lines: #e4e9ed;
$color-base: white;
$color-input: #ccc;
$color-tab-bar: #639CD9;
