$font-primary: "Segoe UI", sans-serif;

$color-primary: #11a9ec;
$color-text: #707070;

$color-hoverPrimary: #1196cf;
$color-hoverSecondary: #ececec;

$color-rowTable: rgba(112, 112, 112, 0.1);
$color-hoverTable: rgba(17, 169, 236, 0.3);
