@import "_mixins.scss";

/*----REUSABLE----*/

.container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.label {
  font-family: $font-primary;
  color: $color-text;
  font-weight: bold;
  font-size: 14px;
}

.input {
  border: 1px solid $color-primary;
  border-radius: 20px;
  outline: none !important;
  text-align: left;
  font-family: $font-primary;
  padding: 0 15px;
  font-size: 14px;
}

/*---SUBMIT BUTTON-----*/

.submit {
  border: 1px solid $color-primary;
  border-radius: 20px;
  padding: 5px 12px;
  margin-left: 10px;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  text-transform: uppercase;
}

.submit--login {
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $color-hoverPrimary;
    color: white;
    cursor: pointer;
  }
}

.submit--register:hover {
  background-color: $color-hoverSecondary;
  cursor: pointer;
}

/*----BUTTON----*/

.button {
  border: 1px solid $color-primary;
  border-radius: 20px;
  padding: 5px 12px;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  text-transform: uppercase;
}

.button--fill {
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $color-hoverPrimary;
    color: white;
    cursor: pointer;
  }
}

/*----TABLE----*/

.table {
  font-family: $font-primary;
  color: $color-text;
  font-size: 14px;
  border-collapse: collapse;
  text-align: left;

  .table-header {
    height: 54px;
    border-bottom: 2px solid $color-primary;

    & th {
      padding-left: 15px;
    }
  }

  .table-body th {
    font-weight: normal;
    color: black;
    padding-left: 15px;
  }

  .th-edit {
    .material-icons {
      cursor: pointer;
      margin-right: 15px;

      &.green {
        color: limegreen;
      }

      &.blue {
        color: $color-primary;
      }

      &.red {
        color: red;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .row {
    height: 44px;

    &:hover {
      background-color: $color-hoverTable;
    }
  }
  .row--grey {
    background-color: $color-rowTable;
  }
}

/*----TABLE SECTION----*/

.table-section {
  display: flex;
  margin-top: 70px;

  .table--standard {
    width: 100%;
  }
}

.th-name {
  width: 800px;
}

.th-date {
  width: 350px;
}

.th-no {
  width: 150px;
}

/*----TITTLE----*/

.tittle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: $font-primary;
  color: black;
  font-weight: normal;
  font-size: 14px;

  .tittle {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding-bottom: 10px;
  }

  .tittle--left {
    width: 75%;
  }
  .tittle--right {
    width: 22%;
  }

  .tittle--fullWidth {
    width: 100%;
  }
}

/*----FIRST SECTION----*/

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .search-section {
    display: flex;
    flex-direction: row;

    .search-block {
      margin-right: 40px;
    }

    .label--standard {
      margin-right: 10px;
    }

    .input--standard {
      width: 180px;
      height: 30px;
    }

    .input--standard--date {
      width: 170px;
      height: 30px;
    }

    .input--standard--number {
      width: 80px;
      height: 30px;
    }
  }

  .buttonStandard-section {
    width: 22%;
  }
}

/*----LOGIN PAGE----*/

.login-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .label--login {
    margin-bottom: 5px;
  }

  .input--login {
    width: 300px;
    height: 35px;
  }

  .input-password {
    display: flex;
    align-items: center;

    .material-icons {
      margin-left: -50px;
      cursor: pointer;
      color: $color-hoverPrimary;
    }
  }
}

/*----SALES PAGE----*/

.salesTable-section {
  display: flex;
  margin-top: 70px;

  .table--standard {
    width: 100%;
  }
}

.th-name {
  width: 600px;
}

.th-date {
  width: 300px;
}

.th-no {
  width: 200px;
}


