// Basic
@import "reset.scss";

// Third-party
@import "third-party.scss";

// Mixins
@import "_mixins.scss";

// ng-select
@import "~@ng-select/ng-select/themes/default.theme.css";

// ng-pick-datetime
@import "~ng-pick-datetime/assets/style/picker.min.css";

/*----////// REUSABLE //////----*/

/*----LAYOUT-----*/

._layout {
  max-width: 1200px;
  margin: 0 auto;
}

/*----BUTTON----*/

._btn {
  padding: 5px 12px;
  border: 1px solid $color-primary;
  //border-radius: 20px;
  border-radius: 4px;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 1rem;
  background-color: $color-base;
  text-transform: uppercase;
}

._btn--fill {
  background-color: $color-primary;
  color: $color-base;

  &:hover {
    background-color: $color-hover-primary;
    cursor: pointer;
  }
}

/*----FIELDSET----*/
._f {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-family: $font-primary;
  color: $color-text-bold;
  font-weight: normal;
  font-size: 1rem;

  &__label {
    margin-right: 10px;
  }

  &__input {
    //padding: 0 15px;
    padding: 0 5px;
    height: 30px;
    border: 1px solid $color-input;
    //border: 1px solid $color-primary;
    //border-radius: 20px;
    border-radius: 4px;
    text-align: left;
  }

  &--l & {
    &__input {
      width: 180px;
    }
  }

  &--m & {
    &__input {
      width: 170px;
    }
  }

  &--s & {
    &__input {
      width: 80px;
    }
  }
}

/*----TABLE----*/

._table {
  width: 100%;
  text-align: left;
  font-family: $font-primary;
  color: $color-text-bold;
  font-size: 1rem;

  ._table__thead {
    height: 54px;
    border-bottom: 2px solid $color-primary;

    ._table__th {
      padding-left: 15px;
    }
  }

  ._table__tbody {
    ._table__tr {
      height: 44px;

      &:hover {
        background-color: $color-hover-table;
      }
    }

    ._table__tr--grey {
      background-color: $color-row-table;
    }

    ._table__th {
      padding-left: 15px;
      font-weight: normal;
      color: $color-text-normal;
    }
  }
}

/*-------/////////////---------------*/

/*----HEADER----*/

._search-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: $font-primary;
  color: $color-text-normal;
  font-weight: normal;
  font-size: 1rem;
}

/*------MAIN BAR------*/

._main-bar {
  width: 75%;
}

._main-bar--full-width {
  width: 100%;
}

._main-bar__tittle {
  border-bottom: 1px solid $color-header-lines;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

._main-bar__search-section {
  display: flex;
}

._option {
  width: 22%;
}

._option__tittle {
  border-bottom: 1px solid $color-header-lines;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

/*----TABLE SECTION----*/

._table-area {
  display: flex;
  margin-top: 70px;
}

._table__th--l {
  width: 800px;
  padding-left: 15px;
}

._table__th--m {
  width: 350px;
  padding-left: 15px;
}

._table__th--s {
  width: 150px;
  padding-left: 15px;
}

/*----NAVIGATION----*/

._navigation-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: $color-navbar;

  ._navigation-content {
    display: flex;
    width: 1200px;
    justify-content: space-between;
  }

  ._logo {
    display: flex;
    justify-content: start;
    align-items: center;

    ._logo__img {
      width: 90px;
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
        transition: .4s all;
      }
    }
  }

  ._pages {
    display: flex;
    ._page-link {
      padding: 20px 16px;
      font-family: $font-primary;
      color: $color-base;
      font-weight: normal;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        background-color: $color-hover-navbar;
        color: $color-text-normal;
      }

      &.active {
        background-color: $color-hover-navbar;
        color: $color-text-normal;
      }
    }
  }
}

/*----FOOTER----*/

._footer-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: $color-footer;

  ._footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 20px 50px;
    font-family: $font-primary;
    color: rgba(0, 0, 0, 0.7);
    font-weight: normal;
    font-size: 0.8rem;

    &:hover {
      color: $color-text-normal;
      cursor: pointer;
    }
  }
}

/*----LOGIN PAGE----*/

._f--login {
  //display: flex;
  //flex-direction: column;
  display: grid;
  margin-bottom: 20px;
}

.input-password {
  display: flex;
  align-items: center;
}

._btnContainer--login {
  ._btn--fill {
    margin-right: 10px;
  }
}

._btn--register:hover {
  background-color: $color-hover-secondary;
  cursor: pointer;
}

._f {
  &--login & {
    &__label {
      margin-bottom: 5px;
    }
  }

  &--login & {
    &__input {
      width: 300px;
      height: 35px;
      border: 1px solid $color-primary;
    }
  }
}

/*----INVOICE PAGE----///////////////////////////////////////////////////////////////////////////////////////////////////////*/

._layout--invoice {
  align-items: baseline;
  background-color: $color-base;

  ._info-block {
    display: flex;
    flex-direction: row;
  }

  ._info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-primary;
    color: $color-text-bold;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2rem;

    border-bottom: 1px solid $color-header-lines;
    padding-bottom: 10px;
    margin-bottom: 20px;

    ._company-info {
      margin-right: 100px;
    }
  }

  ._date-info {
    display: flex;
    flex-direction: row;
    font-family: $font-primary;
    color: $color-text-bold;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2rem;
    align-items: center;

    border-bottom: 1px solid $color-header-lines;
    padding-bottom: 10px;
    margin-bottom: 20px;

    & p {
      margin-right: 50px;
      text-align: center;
    }
  }

  ._option-block {
    display: flex;
    flex-direction: row;

    ._option--invoice {
      width: 150px;
    }
  }

  ._table-area {
    margin-top: 0;
    ._table {
      text-align: center;

      ._table__th--l {
        width: 800px;
        padding-left: 0;
      }

      ._table__th--m {
        width: 350px;
        padding-left: 0;
      }

      ._table__th--s {
        width: 150px;
        padding-left: 0;
      }

      ._table__tbody {
        ._table__th {
          padding-left: 0;
        }
      }
    }
  }
}

._option--center {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
._total-info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-family: $font-primary;
  color: $color-text-bold;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  align-items: center;

  border-top: 1px solid $color-header-lines;
  padding-top: 10px;
  margin-top: 20px;

  & p {
    margin-left: 50px;
    text-align: center;
  }
}

/*-----------------------------///////////////////////////////////////////////////////////////////////////////////-*


/*----PACKAGING PAGE----*/

._tabs-bar {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 4px 4px 0px 0px;
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: bold;
  background: $color-tab-bar;
  color: $color-base;

  ._tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    ._tabs__li {
      .active {
        padding: 26px 5px;
        background-color: $color-base;
        color: $color-primary;
        cursor: pointer;
      }

      ._tabs__a {
        padding: 5px 10px 20px;
        border-radius: 5px 5px 0px 0px;
        //margin-right: 25px;

        &:hover {
          padding: 5px 10px 10px;
          color: $color-primary;
          background-color: $color-base;
          cursor: pointer;
        }
      }
    }
  }
}

._table-area--packaging {
  margin-top: 0;
}

/*----MODAL----*/

/* background */
._modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);

  /* content */
  ._modal__inquiry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    //width: 450px;
    //height: 515px;
    padding: 50px;
    //border: 1px solid $color-primary;
    border-radius: 10px;
    background: $color-base;
  }

  ._modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  ._modal__column {
    display: flex;
    ._f__input {
      margin-right: 10px;
    }
  }

  ._f--modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 0px;
  }
}

._f {
  &--modal & {
    &__input {
      width: 275px;
      height: 39px;
      margin-bottom: 20px;
    }
  }

  &--modal & {
    &__label {
      margin-bottom: 10px;
    }
  }

  &--modal--checkbox & {
    &__label {
      margin-right: 0px;
    }
  }
}
._btnContainer--modal {
  ._btn--fill {
    margin-right: 10px;
  }
}

._modal__inquiry--s {
  padding: 40px;
}

._modal--columns {
  ._form {
    display: flex;
  }

  ._modal__column {
    display: block;
  }
}

/*-----Ng Select ----- */

._f--l {
  .ng-select {
    font-weight: normal;

    .ng-select-container {
      min-height: 30px;
      height: 30px;
      width: 180px;
      //border: 1px solid $color-primary;
      //border-radius: 20px;
      text-align: left;
    }
  }
}
