// Basic
@import "reset.scss";

// Third-party
@import "third-party.scss";

// Mixins
@import "_mixins.scss";

/*----REUSABLE----*/

.container {
  width: 1200px;
  margin: 0 auto;
}

._f {
  margin-right: 40px;
  font-family: $font-primary;
  color: $color-text;
  font-weight: bold;
  font-size: 14px;
}

._input {
  padding: 0 15px;
  border: 1px solid $color-primary;
  border-radius: 20px;
  font-family: $font-primary;
  text-align: left;
  font-size: 14px;
}

/*----BUTTON----*/

.button {
  padding: 5px 12px;
  border: 1px solid $color-primary;
  border-radius: 20px;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  text-transform: uppercase;
}

.button--fill {
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $color-hoverPrimary;
    color: white;
    cursor: pointer;
  }
}

/*----TABLE----*/

._table {
  width: 100%;
  text-align: left;
  font-family: $font-primary;
  color: $color-text;
  font-size: 14px;

  ._table_thead {
    height: 54px;
    border-bottom: 2px solid $color-primary;

    ._table_th {
      padding-left: 15px;
    }
  }

  ._table_tbody {
    ._table_tr {
      height: 44px;

      &:hover {
        background-color: $color-hoverTable;
      }
    }

    .table_tr--grey {
      background-color: $color-rowTable;
    }

    ._table_th {
      padding-left: 15px;
      font-weight: normal;
      color: black;
    }
  }
}

/*----TABLE SECTION----*/

._table-area {
  display: flex;
  margin-top: 70px;
}

.table_th--name {
  width: 800px;
}

.table_th--date {
  width: 350px;
  padding-left: 15px;
}

.table_th--no {
  width: 150px;
  padding-left: 15px;
}

/*----TITTLE----*/

._search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  font-family: $font-primary;
  color: black;
  font-weight: normal;
  font-size: 14px;

  ._tittle {
    width: 100%;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding-bottom: 10px;

    &.tittle--left {
      width: 75%;
    }
    &.tittle--right {
      width: 22%;
    }
  }
}

/*----FIRST SECTION----*/

._main-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ._search-section {
    display: flex;
    flex-direction: row;

    ._f_label {
      margin-right: 10px;
    }

    .input-main {
      width: 180px;
      height: 30px;
    }

    .input-date {
      width: 170px;
      height: 30px;
    }

    .input-number {
      width: 80px;
      height: 30px;
    }
  }

  ._button-area {
    width: 22%;
  }
}

/*----LOGIN PAGE----*/

.f--login {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  ._f_label--login {
    margin-bottom: 5px;
  }

  .input--login {
    width: 300px;
    height: 35px;
  }

  .input-password {
    display: flex;
    align-items: center;

    .material-icons {
      margin-left: -50px;
      color: $color-hoverPrimary;
      cursor: pointer;
    }
  }
}

.button--fill--login {
  margin-right: 10px;
  background-color: $color-primary;
  color: white;

  &:hover {
    background-color: $color-hoverPrimary;
    color: white;
    cursor: pointer;
  }
}

.button--register:hover {
  background-color: $color-hoverSecondary;
  cursor: pointer;
}

/*----PACKAGING PAGE----*/

._tabs-area {
  display: flex;
  align-items: center;
  height: 54px;
  margin-top: 70px;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: bold;
  background: $color-primary;
  color: white;

  ._tabs {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    ._tabs_li {
      .active {
        padding: 26px 5px;
        background-color: white;
        color: $color-primary;
        cursor: pointer;
      }

      ._tabs_a {
        padding: 26px 5px;
        margin-right: 25px;

        &:hover {
          padding: 26px 5px;
          color: $color-primary;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.table-area--packaging {
  margin-top: 0;
}

/*----MODAL----*/

/* background */
._modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);

  /* content */
  .modal--inquiry {
    margin: 0 auto;
    width: 345px;
    height: 515px;
    border: 1px solid $color-primary;
    border-radius: 10px;
    background: white;
  }
}
